<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise tracker</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>ExerScise tracker</h1>
    <!-- <div> -->
    <form action="" id="new-user">
      <h2>Create a New User</h2>
      <p><code>POST /api/users</code></p>
      <input type="text" name="username" id="username" placeholder="username" />
      <button type="submit">Submit</button>
    </form>
    <form action="" id="add-exercises">
      <h2>Add exercises</h2>
      <p><code>POST /api/users/:_id/exercises</code></p>
      <input type="text" name="_id" id="_id" placeholder=":_id" />
      <input
        type="text"
        name="description"
        id="description"
        placeholder="description*"
      />
      <input
        type="text"
        name="duration"
        id="duration"
        placeholder="duration* (mins.)"
      />
      <input
        type="text"
        name="date"
        id="date"
        placeholder="date (yyyy-mm-dd)"
      />
      <button type="submit">Submit</button>
    </form>
    <!-- </div> -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        // Connected to user form
        const userForm = document.querySelector("#new-user");
        const userInput = document.querySelector("#username");

        // Connected to exercise form
        const exerciseForm = document.querySelector("#add-exercises");
        const userId = document.querySelector("#_id");
        const description = document.querySelector("#description");
        const duration = document.querySelector("#duration");
        const date = document.querySelector("#date");

        // Event listener for user-form
        userForm.addEventListener("submit", async (e) => {
          // Default set - data not get erased
          e.preventDefault();

          // Original inputs data form form
          const inputValues = userInput.value;

          // Created the form - to store data as form
          try {
            const res = await fetch("http://localhost:3000/api/users", {
              method: "POST",
              headers: {
                "Content-Type": "application/x-www-form-urlencoded",
              },
              body: `username=${encodeURIComponent(inputValues)}`,
            });

            if (!res.ok) {
              alert("Error Occured!");
            }

            const data = await res.json();
            console.log(data);
          } catch (err) {
            console.log("Client side error", err.message);
            throw new Error("Error Cliect Side", err.message);
          }

          window.location.href = `/api/users`;
        });

        exerciseForm.addEventListener("submit", async (e) => {
          e.preventDefault();

          const reqData = {
            userId: userId.value,
            description: description.value,
            duration: duration.value,
            time: date.value,
          };

          const res = await fetch(
            `http://localhost:3000/api/users/${reqData.userId}/exercises`,
            {
              method: "POST",
              headers: {
                "Content-Type": "application/x-www-form-urlencoded",
              },
              body: `&userId=${encodeURIComponent(
                reqData.userId
              )}&description=${encodeURIComponent(
                reqData.description
              )}&duration=${encodeURIComponent(
                reqData.duration
              )}&date=${encodeURIComponent(reqData.time)}`,
            }
          );

          if (!res.ok) {
            alert("Error Occured!");
          }

          const data = await res.json();
          console.log(data);
          window.location.href = `/api/users/${reqData.userId}/exercises`;
        });
      });
    </script>
  </body>
</html>
